@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white " style="background-color:#474747;">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Sinema: </b>@item.Cinema.Name</p>
                            <p class="card-text"><b>Kategori: </b>@item.MovieCategory</p>
                            <p class="card-text"><b>Başlangıç Tarihi: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>Bitiş Tarihi: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Durum: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">MEVCUT</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">GÜNÜ GEÇMİŞ</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">GELECEK</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn  float-right" asp-action="Details"  style="color:black; border-style: none;border-radius: 100px;" asp-route-id="@item.Id" style="border-style: none;border-radius: 100px;">
                                    <i class="bi bi-eye-fill"></i> Detayları göster
                                </a>
                                <a style="color:black; background-color:#F8E71C;border-style: none;border-radius: 100px;" class="btn btn-success  @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                               asp-controller="Orders"
                               asp-action="AddItemToShoppingCart"
                               asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus" style="background-color:#F8E71C;border-style: none;border-radius: 100px;"></i> @Localizer["Ekle"] (Fiyat @item.Price.ToString("c"))
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Movies")
